
@{
    ViewBag.Title = "Thank you for registering | BuildFeed";
}

<h2>Thank you for registering with BuildFeed</h2>
<p>Every account is validated by an Administrator, so be patient and check again later.</p>
